{% extends 'main/layout.html'%}
{% load static %}

{% block title %} {{ element.title }} {% endblock %}

{% block content %}
                <h1>{{ element.title }}</h1>
				<div class="info_film_page">
					<span class="label">рейтинг: </span><span class="value">{{ element.rating }}/10</span>
					<span class="label">год: </span><span class="value">{{ element.year }}</span>
					<div class="res">
					<span class="label">режиссер: </span><span class="value"></span>
					</div>
				</div>
				<hr>
				<h2>Описание</h2>
				<div class="discription_film">
					<img src="{{ element.image.url }}">
					{{ element.description }}
				</div>
				<hr>
				<h2>Отзывы</h2>
				<div class="reviews">
					<div class="reviews_name">
						Швач
					</div>
					<div class="reviews_text">
						Отличное аниме, почти как вельзепуз
					</div>
					<div class="reviews_name">
						Киря
					</div>
					<div class="reviews_text">
						А как скорость интернета узнать?
					</div>
				</div>
				<div class="send">
					<form method="post" action="#" id="review">
						<input type="text" name="review_name" placeholder="Ваше имя">
						<textarea name="review_text" ></textarea>
						<input type="submit" class="btn" value="отправить">
					</form>
				</div>
{% endblock %}