{% extends 'main/layout.html'%}
{% load static %}

{% block title %} Главная {% endblock %}

{% block content %}
<h1>Топ тайтлы</h1>
				<div class="films_block">
					{% for i in sidertng %}
					<a href="{% url 'element' i.slug %}"><img src="{{ i.image.url }}"></a>
					{% endfor %}
				</div>
				<h1>Новинки</h1>
				<div class="films_block">
					{% for j in indexrtng %}
					<a href="{% url 'element' j.slug %}"><img src="{{ j.image.url }}"></a>
					{% endfor %}
				</div>
				<div class="posts">
					<hr>
					<h2><a href="#">Убийца гоблинов</a></h2>
					<div class="posts_content">
						<p>
							Убийца гоблинов(далее "уг"(не путать с унылым говном)) топ аниме по многим причинам. Во-первых - гг убивает гоблинов, а это как известно хорошо. Во-вторых - если бы уг не было бы топ аниме, разве стал бы алексашка на крысу воровать его из наших с швачем списков, не добавляя нас в друзья!? Ответ очевиден. Топ тайтл однозначно, к просмотру обязателен.
						</p>
					</div>
					<p><a href="#">Читать полностью..</a></p>
					<hr>
					<h2><a href="#">Швач</a></h2>
					<div class="posts_content">
						<p>
							Рецензию на швача считаю нужным начать с упоминания того, что этот проказник посмотрел богомерзкого вельзепуза и прочие тайтлы порицаемые приличным обществом. А следовательно швач - человек всеядный с напроч атрофироваными вкусовыми рецепторами и его мнение при составление рейтингов не должно учитываться.
						</p>
					</div>
					<p><a href="#">Читать полностью..</a></p>
				</div>
{% endblock %}